/**************
RESET
***************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************
BODY
***************/
.container{
    margin: 0 auto;
    width: 1130px;
    border: 1px solid black;
    text-align: center;
    font-family: "Fredoka", sans-serif;
}

/**************
HEADER
***************/
.title{
    color: #E53170;
    font-size: 40px;
    padding: 45px;
}


