/**************
RESET
***************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************
BODY
***************/
body{
    margin: 0 auto;
    width: 1300px;
    border: 1px solid black;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    /*height: 100vh;*/
}

/**************
HEADER
***************/
.title{
    color: #E53170;
    font-size: 40px;
    padding: 45px;
}

/**************
BODY
***************/
.description{
    margin: 20px;
}

/**************
BOX IMG
***************/

.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

img{
    height: 100px;
}

.box-person{
    display: flex;
    background-color: #0F0E17;
    color: #ffffff;
}

.description-img-person{
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 60px;
}


