/**************
RESET
***************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/**************
BODY
***************/
body{
    margin: 0 auto;
    width: 1130px;
    text-align: center;
    font-family: "Fredoka", sans-serif;
    height: 100vh;
}

/**************
HEADER
***************/
.title{
    color: #E53170;
    font-size: 40px;
    padding: 45px;
}

/**************
BODY
***************/
.description{
    margin-top: 20px;
}

/**************
BOX IMG
***************/

.container-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.img-person{
    height: 100px;
}

.box-person{
    display: flex;
    background-color: #0F0E17;
    color: #ffffff;
    margin-top: 50px;
}

.description-img-person{
    text-align: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 60px;
}

.nome{
    padding-bottom: 10px;
    font-size: 16px;
}

.job{
    padding-bottom: 10px;
    font-size: 12px;
}

.email{
    font-size: 12px;
    color: #6BCDE9;
}

img{
    display: block;
}


